*
{
    box-sizing: border-box;
    margin: 10px;
}

body
{
    background-image: url("../IMG/man-1.jpg");
    background-size: 100% 700px;
}

#container {

   
}


h1
{

    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
}

@media (min-width